.ID {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  display: flex;
  background-color: black;
}

.projects div {
  background-color: antiquewhite;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  flex-grow: 5;
}
