.flex-container {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: #1caac4;
  flex-direction: row;
}

.nav_bar {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: #1caac4;
  flex-direction: row;
}

.flex-container2 {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(150, 228, 166);
  flex-direction: row;
}
.flex-item {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(176, 217, 238);
}
