.ID {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  display: flex;
  justify-content: space-between;
}
.h1 {
  font-family: sans-serif;
}
.projects div {
  background-color: #fadcd9;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
  color: #155030;
  font-weight: 200;
  font-family: sans-serif;
}
.title {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.information {
  display: flex;
  justify-content: center;
}

.inline-header {
  display: inline-block;
  padding-inline: 200px;
}
